{# Needs variables:
  deck_stats (dict): dict containing data needed to render page.
  deck_name   (str): keys of deck_stats dict.
  front       (str): language string.
  due_number  (int): number of cards due.
  next_due    (str): nearest review date.
#}

<!--Prompts user to choose which deck to train.-->

{% extends "base.html" %}
{% block content %}
  Select deck:
  <table>
    <!--Table of decks.-->
    {% for deck_name in deck_stats.keys() %}
    <tr>
      <!--Heading containing the name of the deck.-->
      <th>{{deck_name}}</th>
    </tr>
    <tr>
      <td>
        <!--Table inside table, listing two front languages.-->
        <table style="width:100%">
          <tr>
            <!--Name of front-->
            <th>Front card</th>
            <!--Number of due cards-->
            <th>Due cards</th>
            <!--Next due date. Fixed width because it can be "Right Now"-->
            <th width="130">Next due:</th>
            <!--Train button.-->
            <th>Action</th>
          </tr>
          {% for front in deck_stats[deck_name].keys() %}
            <!--Row representing deck front. Made clickable.-->
            <tr class="deck-row" onclick="getLink(this)">
              <td>{{front}}</td>
                <!-- Front language name. -->
              <td>{{deck_stats[deck_name][front].due_number}}</td>
                <!-- Number of Due cards -->
              <td>{{deck_stats[deck_name][front].next_due}}</td>
              <td>
                <!-- Train button -->
                <a href="/train/{{deck_name}}/{{front}}">Train.</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>   
    </tr>
    {% endfor %}
</table>
<script>
  // Changes CSS for due decks.
  window.onload = makeGreen()
</script>
{% endblock %}