{# Uses variables:
  stats                    (list): list containing data needed to render page
  deck                     (dict): Elements in the list
  deck.name                 (str): Deck name
  deck.description          (str): Language string
  deck.language_1           (str): First language
  deck.language_2           (str): Second language
  deck.language_1_due_cards (int): Number of cards due
  deck.language_2_due_cards (int): Number of cards due
  deck.language_1_next_due  (str): Nearest due date
  deck.language_2_next_due  (str): Nearest due date
#}

<!--Prompts user to choose which deck to train.-->

{% extends "base.html" %}
{% block content %}
  Select deck:
  <table>
    <!--Table of decks.-->
    {% for deck in stats %}
    <tr>
      <!--Heading containing the name of the deck.-->
      <th>{{deck.name}}</th>
      <tr><td>{{deck.description}}</td></tr>
    </tr>
    <tr>
      <td>
        <!--Table inside table, listing two front languages.-->
        <table>
          <tr>
            <th>Front card</th>
            <th>Due cards</th>
            <th width="130">Next due:</th>
            <!--Train button.-->
            <th>Action</th>
          </tr>
            <!--Row representing deck front. Made clickable.-->
            <tr class="deck-row" onclick="getLink(this)">

              <!-- Front language name. -->
              <td>{{deck.language_1}}</td>

              <!-- Number of Due cards -->
              <td>{{deck.language_1_due_cards}}</td>

              <!-- Next due card time -->
              <td class="next-due">{{deck.language_1_next_due}}</td>

              <!-- Train button -->
              <td>
                <a href="/train/{{deck.name}}/{{deck.language_1}}">Train.</a>
              </td>
            </tr>

            <tr class="deck-row" onclick="getLink(this)">
              <td>{{deck.language_2}}</td>
              <!-- Front language name. -->
              <td>{{deck.language_2_due_cards}}</td>
                <!-- Number of Due cards -->
              <td class="next-due">{{deck.language_2_next_due}}</td>
              <td>
                <!-- Train button -->
                <a href="/train/{{deck.name}}/{{deck.language_2}}">Train.</a>
              </td>
            </tr>
        </table>
      </td>
    </tr>
    {% endfor %}
</table>
<script>
  makeGreen(); // Changes CSS for due decks.
  setCountDown(); // Gets countdown dates and starts countdown script.
</script>
{% endblock %}