{# Needs variables:
  deck_stats (dict): dict containing data needed to render page.
  deck_name   (str): keys of deck_stats dict.
  front       (str): language string.
  due_number  (int): number of cards due.
  next_due    (str): nearest review date.
#}

<!--Prompts user to choose which deck to train.-->

{% extends "base.html" %}
{% block content %}
  Select deck:
  <table>
    <!--Table of decks.-->
    {% for deck in stats %}
    <tr>
      <!--Heading containing the name of the deck.-->
      <th>{{deck.name}}</th>
      <tr><td>{{deck.description}}</td></tr>
    </tr>
    <tr>
      <td>
        <!--Table inside table, listing two front languages.-->
        <table>
          <tr>
            <!--Name of front-->
            <th>Front card</th>
            <!--Number of due cards-->
            <th>Due cards</th>
            <!--Next due date. Fixed width because it can be "Right Now"-->
            <th width="130">Next due:</th>
            <!--Train button.-->
            <th>Action</th>
          </tr>
          {# for language in deck.languages #}
          {% for language in deck.cards %}
            <!--Row representing deck front. Made clickable.-->
            <tr class="deck-row" onclick="getLink(this)">
              <td>
                {#language#}
                {{language.language}}
              </td>
                <!-- Front language name. -->
              <td>{#deck.get_due(language)|length#}
                {{language.due_cards}}
              </td>
                <!-- Number of Due cards -->
              <td class="next-due">{#deck.get_nearest(language)#}{{language.next_due}}</td>
              <td>
                <!-- Train button -->
                <a href="/train/{{deck.name}}/{{language.language}}">Train.</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>   
    </tr>
    {% endfor %}
</table>
<script>
  makeGreen(); // Changes CSS for due decks.
  setCountDown(); // Gets countdown dates.
</script>
{% endblock %}