{# Needs variables:
  deck.count_due(front)  (int): Number of cards due.
  flashcard        (Flashcard): Flashcard object.
    flashcard.front      (str): Front data.
    flashcard.back       (str): Back data.
    flashcard.id_        (str): Id data (used for updating).
#}

<!--Card training page.-->

{% extends "base.html" %}
{% block content %}
  <div>
    <p>Training session.</p>
    <p>Cards left due: {{number_of_cards}}</p>
    <p>What is:</p>
    <h1>{{flashcard.front}}</h1>
  </div>
  <!--This button shows the hidden part of the card.-->
  <button id="check" onclick="showAnswer()">Check the answer</button>

  <!--This div shows after pressing the button.-->
  <div id="answer" hidden>
    <p>The answer is:</p>
    <h1>{{flashcard.back}}</h1>
    <br>
    <!--Interacting interface.-->
    <form action="" 
          method="POST">
      <!--Hidden value: card id.-->
      <input type="hidden" name="id_" value="{{flashcard.id_}}">
      <!-- Updates next date.-->
      <button name="method" value="update">Good</button>
      <!-- Resets next date.-->
      <button name="method" value="reset">Bad</button>
    </form>
  </div>
  <br>
{% endblock %}