p {
    /* Removes paragraph spacing. */
   margin:             0;
}

body {
    /* Makes the whole content align to center. */
    text-align:         center;
    background-color:   AliceBlue;
    }

table, th, td {
    /* basic table styling */
    border:             1px solid;
    border-collapse:    collapse;
    font-size:          12;
    margin-left:        auto;
    margin-right:       auto;
    }

.topnav a {
    padding:            0px 5px; 
    font-size:          17px;
    text-decoration:    none; /* removes underline from links */
    border:             2px solid black;
    border-radius:      5px;
    color:              black;
    }

.topnav a:hover {
    background-color:   Aquamarine; /* hover color */
    }

.table-frame {
    /*Table takes 30% of space vertically.*/
    height:             30%;
    /* The rest of the table scrolls down in the frame. */
    overflow:           auto;
    /* Also takes 30% of space horizontally */
    width:              30%;
    /* Automatic centering. */
    margin-left:        auto;
    margin-right:       auto;
    }

.table {
    /* Stick to the frame. */
    position:           sticky;
    width:              100%;
    }

.deck-row:hover, .due-deck:hover {
    /* Hovering on a table row. */
    background-color:   cyan;
    cursor:             pointer;
    }

 .due-deck {
    /* CSS for JS script, changing the BG color of due decks. */
    cursor:             pointer;
    background-color:   cadetblue;
 }

.table tbody>tr>:nth-child(1) {
    /* makes ID column bold. */
    font-weight:        bold;
    }


.number-of-cards {
    /* Styling for "number of cards" column, making numbers aligned to the
     right*/
    text-align:         right;
}


#itemEditor, #itemAdder {
    /* Hidden from view before you need them. */
    display:            none;
}