.topnav {
    background-color:   AliceBlue;
    }

.topnav a {
    padding:            0px 5px;
    font-size:          17px;
    text-decoration:    none; /* removes underline from links */
    border:             2px solid black;
    border-radius:      5px;
    color:              black;
    }

.deck_selector {
    text-align:         left;
    width:              30%;
    margin:             auto;
}

.topnav a:hover {
    background-color:   Aquamarine;
    color:              black;
    }

.table-frame {
    height:             30%;
    overflow:           auto;
    width:              30%;
    margin-left:        auto;
    margin-right:       auto;

    }

.table {
    position:           sticky;
    width:              100%;
    }

.table form {
    height:             10px;
    }

.deck-row:hover, .due-deck:hover {
    background-color:cyan;
    cursor: pointer;
    }

 .due-deck {
    cursor: pointer;
    background-color: cadetblue;
 }

#button {
    justify-content:    center;
    align-items:        center;
    }

.table tbody>tr>:nth-child(1) {
    font-weight: bold;
    }

body {
    text-align:         center;
    background-color:   AliceBlue;
    }


table, th, td {
    border:             1px solid;
    border-collapse:    collapse;
    font-size:          12;
    margin-left:        auto;
    margin-right:       auto;
    }

.right-align {
    text-align:         right;
}

p { margin:             0;

}

ul {
    list-style-type: square;
}

ul a:hover {
    background-color:   Aquamarine;
    color:              black;
}

#itemEditor, #itemAdder {
    display:            none;
}