<form
 action="{{url_for('add_item', deck_name=deck_name)}}"
 class="table-container" 
 id="item-adder"
 method="POST">
    <table>
        <tr>
            <td><label>{{languages.0}}</label></td>
            <td><input type="text" name="key_0" placeholder="value"></td>
        </tr>
        <tr>
            <td><label>{{languages.1}}</label></td>
            <td><input type="text" name="key_1" placeholder="value"></td>
        </tr>
    </table>
    <div id="button">
        <input type="submit" value="Add">
    </div>
</form>