{% extends "base.html" %}

{% block script %}
    <script>
        $(document).ready(function(){
          $(".item").submit(function(a){
            var link = $(this).closest(".item").attr("action");
            a.preventDefault();
            $(edit_item_container).load(link);
          });
          $(".add").submit(function(b){
            var link = $(this).closest(".add").attr("action");
            b.preventDefault();
            $(edit_item_container).load(link);
          });
        });
    </script>
{% endblock %}

{% block content %}
    <p>Viewing deck "{{deck_name}}":</p>
    <div class="table-container">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>{{deck.languages.0}}</th>
                <th>{{deck.languages.1}}</th>
                <th>Action</th>
            </tr>

            {%for item in deck.cards%}
                <tr>
                    <td>{{item.card_id}}</td>
                    <td>{{item.key_0}}</td>
                    <td>{{item.key_1}}</td>
                    <td>
                        <form
                            class  = "item" 
                            action = "{{url_for(
                                'edit_item', 
                                deck_name=deck_name, 
                                card_id=item.card_id)}}"
                            method = "GET">
                            <input
                                type =   "submit" 
                                value =  "Edit">
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </table>
        <form action="{{url_for('add_item', deck_name=deck_name)}}"
            method="GET"
            class="add">
                <button type="submit">Add</button>
        </form>
    </div>

    <div id="edit_item_container"></div>    
{% endblock %}