{# Needs variables:
  deck      (Deck): deck.
#}

<!--The main deck browsing and editing page.-->
<!--Contains the table of items and the hidden editing form.-->

{% extends "base.html" %}
{% block content %}
  <h2>Viewing deck "{{deck.name}}":</h2>
  <table width="30%">
    <tr>
      <td class="description">Description:</td>
      <td width=70%>{{deck.description}}</td>
      <td>
        <button onclick="editDescription()">Edit?</button>
      </td>
    </tr>
  </table>
  <div class="table-frame">
    <!--table frame containing the table.-->
    <table class="table"
              id="data-table">
    <!--The table itself.-->
      <thead>
        <!-- Headings-->
        <th onclick="sortTable(this)">ID</th>
        <th onclick="sortTable(this)">{{deck.languages.0}}</th>
        <th onclick="sortTable(this)">{{deck.languages.1}}</th>
        <th>Action</th>
      </thead>
      <tbody class="data">
        <!--deck rows-->
        {% for item in deck.cards %}
          <tr>
            <td>{{item.id_}}</td>
            <td>{{item.key0}}</td>
            <td>{{item.key1}}</td>
            <td>
                <button onclick = "editItem(this)">Edit</button>
                <button onclick = "deleteItem(this)">Delete</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div><button onclick="addItem()">Add new</button></div>
  <!--area where edited item will appear-->
  <div id="editorContainer"></div>
  <div id="itemEditor">
    <!--invisible div, containing html for item editor.-->
    <form action="/browse/{{deck.name}}/" method="POST">
      <table>
        <tr>
          <td><labeL>ID</labeL></td>
          <td>
            <input type="text"
                   name="id_"
                   id="id_"
                   readonly>
          </td>
        </tr>

        <tr>
          <td><labeL>{{deck.languages.0}}</labeL></td>
          <td>
            <input type = "text"
                     name = "key0"
                     id   = "key0">
          </td>
        </tr>

        <tr>
          <td><labeL>{{deck.languages.1}}</labeL></td>
          <td>
            <input type="text"
                   name="key1"
                   id="key1">
          </td>
        </tr>

      </table>
      <button name="action" value="edit">Edit</button>
      <button name="action" 
              value="delete"
              onclick="return confirm(
                'Are you sure you want to delete?'
              )">
          Delete</button>
    </form>
  </div>
  <div id="itemAdder">
    <!--invisible div, containing html for item adder.-->
    <form action="/browse/{{deck.name}}/" method="POST">
      <!-- Table with two rows and a submit button.-->
      <table>
        <tr>
          <td>{{deck.languages.0}}</td>
          <!--First language name-->
          <td>
          <!--Inputbox for the key value.-->
            <input type="text" 
                    name="key0" 
                    placeholder="value">
          </td>
        </tr>
        <tr>
          <td>{{deck.languages.1}}</td>
          <!--Second language name-->
          <td>
            <input type="text" 
                   name="key1" 
                   placeholder="value">
          </td>
        </tr>
      </table>
      <button name="action" value="add">Add</button>
    </form>
  </div>
  <script>
  </script>
{% endblock %}