{% if card == {} %}
    <h1>
        Oops!
        </h1>
        <p>There is no card with such an id.</p>
{% else %}

<form
 class="table-container" 
 id="item-editor" 
 action="{{url_for(
     'edit_item', 
     deck_name=deck_name, 
     card_id=card.card_id)}}"
 method="POST">
    <table>
        <tr>
            <td><label>ID</label></td>
            <td><input 
                type="text" 
                name="card_id" 
                value="{{card.card_id}}" 
                readonly></td>
        </tr>
        <tr>
            <td><label>{{languages.0}}:</label></td>
            <td><input type="text" name="key_0" value="{{card.key_0}}"></td>
        </tr>
        <tr>
            <td><label>{{languages.1}}:</label></td>
            <td><input type="text" name="key_1" value="{{card.key_1}}"></td>   
        </tr>
    </table>
    <div id="button">
        <button type="submit" value="Edit">edit</button>
    </div>
</form>

{% endif %}