{# Needs variables:
  cards_per_deck (dict):  dictionary containing deck names and their card
                          numbers.
                          struct {deck_name:number}
#}

<!--Deck selector page.-->

{% extends "base.html" %}
{% block content %}
  <p>Select deck:</p>
  <table>
    <!--table containing the list of decks-->
    <thead>
      <!--Headings-->
      <th>Deck name</th>
      <th>№ of cards</th>
    </thead>
    <tbody>
      <!--deck rows-->
      {% for deck_name in cards_per_deck.keys() %}
        <tr class="deck-row">
          <td>
            <a href="/browse/{{deck_name}}/">
              {{deck_name}}
            </a>
          </td>
          <td class="number-of-cards">
            <p>{{cards_per_deck[deck_name]}}</p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
{% endblock %}