<html>

<head>
    <title> Language Guesser App </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .topnav{
            background-color: AliceBlue;
            }

        {% block style %}
        {% endblock %}

        .topnav a {
            text-align: center;
            padding: 1px 4px;
            font-size: 17px;
            text-decoration: none;
            border: 2px solid black;
            border-radius: 5px;
            color:black;
            }

        .topnav a:hover {
            background-color: Aquamarine;
            color: black;
            }

    </style>
    {% block script %}
    {% endblock %}
</head>

<body style="text-align:center; background-color:AliceBlue">
    <div class="topnav" style="text-align:center">
         <a href="/index">Home</a>
        <a href="/train">Train</a>
        <a href="/browse">Browse</a>
</div>
    <hr>
    {% block content %}
    {% endblock%}
</body>

</html>