<html>
  <!--The base template and the top navigation bar page.-->
  <head>
    <title> Language Guesser App </title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/javascript/script.js"></script>
    <script>
    </script>
  {% block script %}
  {% endblock %}
  {% block style %}
  {% endblock %}
  </head>
  <body>
    <div class="topnav">
      <!-- Top navigation bar.-->
      <a href="/index/">Home</a>
      <a href="/train/">Train</a>
      <a href="/browse/">Browse</a>
    </div>
    <hr>
    {% block content %}
    {% endblock%}
  </body>
</html>