{% extends "base.html" %}

{% block content %}
        <p>Viewing deck {{deckname}}:</p>
         <a href="/">Go back.</a>
        <table border=0 align="center" style="height:500px;">
            <tr>
                {%for field in fields%}
                <td><b>{{field}}</b></td>
                {%endfor%}
                <td><b>Action</b></td>
            </tr>
            {%for item in deck%}
            <tr>
                {%for field in fields%}
                <td>{{item[field]}}</td>
                {%endfor%}
                <td><a href="/edit/{{deck}}/{{item.id}}">(Edit)</a></td>
            </tr>
            {%endfor%}
        </table>
{% endblock %}