{% extends "base.html" %}

{% block content %}
        <p>Viewing deck {{deck}}:</p>
         <a href="/">Go back.</a>
        <table border=0 align="center" style="height:500px;">
            <tr>
                <td><b>ID</b></td>
                <td><b>Armenian</b></td>
                <td><b>English</b></td>
                <td><b>Action</b></td>
            </tr>
            {%for item in data%}
            <tr>
                <td>{{item["id"]}}</td>
                <td>{{item["armenian"]}}</td>
                <td>{{item["english"]}}</td>
                <td><a href="/edit/{{deck}}/{{item.id}}">(Edit)</a></td>
            </tr>
            {%endfor%}
        </table>
{% endblock %}