{% extends "base.html" %}

{% block content %}
        <p>Viewing deck {{deck}}:</p>
         <a href="/">Go back.</a>
        <table border=0 align="center" style="height:500px;">
            <tr>
                <th>ID</th>
                <th>{{fields.1}}</th>
                <th>{{fields.2}}</th>
                 <th>Action</th>
            </tr>
            {%for item in cards%}
            <tr>
                <td>{{item.card_id}}</td>
                <td>{{item.key_0}}</td>
                <td>{{item.key_1}}</td>
                <td><a href="/browse/{{deck}}/{{item.card_id}}">(Edit)</a></td>
            </tr>
            {%endfor%}
        </table>
{% endblock %}