{% extends "base.html" %}

{% block style %}
#id {text-align:right}
table, td {
        border:1px solid;,
        }
table {border-collapse:collapse;}

.center {
  margin-left: auto;
  margin-right: auto;
}

{% endblock %}


{%block content%}
<form action="" method="POST">
<table class="center">
    <colgroup>
        <col span="1" id="id">
    </colgroup>
    <tr>
        <td><b>
            <label>{{fields.0}}:</label>
        </b></td>
        <td>
            <input type="text" name="card_id" value="{{card.card_id}}" readonly>
        </td>
    </tr>
    <tr>
        <td><b>
            <label>{{fields.1}}:</label>
        </b></td>
        <td>
            <input type="text" name="key_0" value="{{card.key_0}}">
        </td>
    </tr>
    <tr>
        <td><b>
            <label>{{fields.2}}:</label>
        </b></td>
        <td>
            <input type="text" name="key_1" value="{{card.key_1}}">
        </td>
    </tr>
    <tr>
        <td colspan="2">
        <input type="submit" value="Edit">
        </td>
    </tr>
   </table>
       </form>
{% endblock %}