{% extends "base.html" %}

{% block style %}
#id {text-align:right}
table, td {
        border:1px solid;,
        }
table {border-collapse:collapse;}
{% endblock %}


{%block content%}
<form action="" method="post">
<table>
    <colgroup>
        <col span="1" id="id">
    </colgroup>
    {%for field in fields%}
    <tr>
        <td><b>
            <label>{{field}}:</label>
        </b></td>
        <td>
            {% if field == 'id' %}
            <input type="number" name="{{field}}" value="{{item[field]}}" readonly>
            {%else%}
            <input type="text" name="{{field}}" value="{{item[field]}}">
            {%endif%}
        </td>
    </tr>
    {%endfor%}
    <tr>
        <td colspan="2">
        <input type="submit" value="Edit">
        </td>
    </tr>
   </table>
       </form>
{% endblock %}