{% extends "base.html" %}

{% block script%}
<script type="text/javascript">
          function showAnswer(){
            document.getElementById("answer").innerHTML = "The answer is \"{{back}}\""
          }
     </script>
{% endblock %}


{% block content %}
    <div>
        <p>Training session.</p>
        <p>Guestion {{counter+1}} of {{data|length}}</p>
        <p>What is {{front}}?</p>
    </div>
     <form id="answer">
         <input type = "button" onclick = "showAnswer()" value = "Check">
      </form>
    <br>
    <a href="/train/next">Next.</a>
    <br>
    <a href="/">Go back.</a>

     <script type="text/javascript">
          function showAnswer(){
            document.getElementById("answer").innerHTML = "The answer is \"{{back}}\""
          }
     </script>
{% endblock %}