{% extends "base.html" %}

{% block style%}
#nextbutton {display:none;}
{% endblock %}

{% block script%}
<script type="text/javascript">
function showAnswer() {
    "use strict";
    var x = document.getElementById("answer"),
        y = document.getElementById("nextbutton");
    x.innerHTML = 'The answer is \"{{back}}\"';
    y.style.display = "block";
    }
     </script>
{% endblock %}


{% block content %}
    <div>
        <p>Training session.</p>
        <p>What is {{front}}?</p>
    </div>
     <form id="answer">
         <input type = "button" onclick = "showAnswer()" value = "Check">
      </form>
    <br>
    <div id="nextbutton">
        <a href="/train/{{deckname}}/{{lang}}">Next.</a>
    </div>
    <br>
{% endblock %}