{% extends "base.html" %}

{% block style%}
<style>
#nextbutton {display:none;}
</style>
{% endblock %}

{% block script%}
<script>
$(document).ready(function(){
  $("#check").click(function(){
    $("#check").hide();
    $("#answer").show();
  });
});
</script>

{% endblock %}

{% block content %}
    <div>
        <p>Training session.</p>
        <p>What is:</p>
        <div>
            <h1>{{front}}</h1>
                </div>
    </div>
    <button id="check">Check the answer</button>
    <div id="answer" hidden>
        The answer is:
        <h1>{{back}}</h1>
        <br>
        <a href="/train/{{deckname}}/{{lang}}">Next</a>
    </div>
    <br>
{% endblock %}