{# Needs variables:
  deck_name (str): name of deck.
  front (str): name of front language.
#}

<!--Page that gets shown when no cards are due to review.-->
<!--Gives an option to learn a new card.-->

{%extends "base.html"%}
{%block content%}
  {% if action == "confirm" %}
  <!-- Shows a redirect message for adding new cards to the deck. -->
  <p>
    Your deck {{deck_name}}, front {{front}} has no due cards for now.
  </p>
  <br>
  <p>
    You can learn a new card from the deck.
  </p>
  <form action="" method="POST">
    <!--Sends post request asking for a new card.-->
    <button name="action" value="learn">
      Learn a new card
    </button>
  </form>

  {% else %}
    <!-- Show the newly learned card. -->
    <p>Here is the new card for the deck "{{deck_name}}"!</p>
    <p>{{languages.0}}: <h2>{{card.key0}}</h2></p>
    <p>{{languages.1}}: <h2>{{card.key1}}</h2></p>
      
    <form action="" method="POST">
      <!-- Sets selected cards due. -->
      <button name="action" value="review">
        Go to reviews.
      </button>
       <button name="action" value="learn">
        Learn another.
      </button>
      </form>
  {% endif %}
{% endblock %}